@model LoginApplication1.Models.Signup

@{
    ViewData["Title"] = "Index";
}

<p>@ViewBag.Status</p>
@using (Html.BeginForm())
{
    <div>
    <label>UserID:</label>
    @Html.EditorFor(model => model.Email)
    </div>
    <br />
    <div>
    <label>Password:</label>
    @Html.EditorFor(model => model.Password)
    </div>
    <div class="loginbtn">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
 
}